* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Serif JP", serif;
  color: #2a2724;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7eee8;
}

.ser {
  font-family: "Playfair Display", serif;
}

.mono {
  font-family: "Roboto Mono", ui-monospace, Menlo, monospace;
}
